.ContentPopUp {
    font-family: "Roboto", sans-serif;
    font-size: 12px;

    .title {
        font-size: 14px;
    }

    .bookshop {
        font-weight: 400;
    }

    .link {
        display: block;
    }
}